.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.heroSection2:global(.__wab_instance) {
  position: relative;
}
.freeBox__dbum7 {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__dbum7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__dbum7 > :global(.__wab_flex-container) > *,
.freeBox__dbum7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__nrrVr {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nrrVr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nrrVr > :global(.__wab_flex-container) > *,
.freeBox__nrrVr > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__odIkY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.freeBox__zMXb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
  background: #ffffff;
  padding: 4px 8px;
}
.freeBox__mF4BQ {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
}
.freeBox__nu7Ww {
  font-size: 20px;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
  line-height: 28px;
}
.freeBox__zXpQw {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zXpQw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zXpQw > :global(.__wab_flex-container) > *,
.freeBox__zXpQw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__t4HwH:global(.__wab_instance) {
  position: relative;
}
.svg__hh2Uj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__wD7Mf {
  height: auto;
}
.svg__sUzNp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button__tiYu4:global(.__wab_instance) {
  position: relative;
}
.svg__jqzH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__ncruU {
  height: auto;
  font-weight: 400;
}
.svg__rSgos {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox___0Phvv {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  max-width: 640px;
  background: #ffffff;
  min-width: 0;
  border-radius: 16px;
}
.freeBox___0Phvv > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___0Phvv > :global(.__wab_flex-container) > *,
.freeBox___0Phvv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.freeBox__t4Xz4 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 16px;
}
.freeBox__m6G8F {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__m6G8F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__m6G8F > :global(.__wab_flex-container) > *,
.freeBox__m6G8F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___3EwRj {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___3EwRj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___3EwRj > :global(.__wab_flex-container) > *,
.freeBox___3EwRj > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button__asQco:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__sMaLg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__uuXew {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button__hHVe2:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__r3TeC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__j0USx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__opywm {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__opywm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__opywm > :global(.__wab_flex-container) > *,
.freeBox__opywm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.divider__hZqF8:global(.__wab_instance) {
  position: relative;
}
.divider___0IuKc:global(.__wab_instance) {
  position: relative;
}
.freeBox__mvnDi {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__mvnDi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mvnDi > :global(.__wab_flex-container) > *,
.freeBox__mvnDi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.button__xbXuk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__eTkN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg___5QEs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff80 /* plasmic-token: brCoMDQNt-cz1 */;
}
.divider___4Odz:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__an3Nx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox___6AJ {
  position: relative;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.navigation:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
}
.img__uoeyF {
  object-fit: cover;
  width: 40px;
}
.img__uoeyF > picture > img {
  object-fit: cover;
}
.button__nRuUs:global(.__wab_instance) {
  position: relative;
}
.svg__prM0H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__heZa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button___67MHt:global(.__wab_instance) {
  position: relative;
}
.svg__pn59K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__eqfMz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button___5QR98:global(.__wab_instance) {
  position: relative;
}
.svg__my7M8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__jwfs5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button__bnMon:global(.__wab_instance) {
  position: relative;
}
.svg__dhzfp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__t2GLa {
  height: auto;
}
.svg__bSkU4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button__hi4Kf:global(.__wab_instance) {
  position: relative;
}
.svg___0BfTa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__sYa9Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button__aQu4H:global(.__wab_instance) {
  position: relative;
}
.svg__mCiio {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__j6BCa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__zRp35 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___6AcIn {
  display: flex;
  flex-direction: column;
  height: auto;
}
.freeBox___6AcIn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6AcIn > :global(.__wab_flex-container) > *,
.freeBox___6AcIn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__boc7O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  line-height: 1;
}
.freeBox___4LweN {
  font-size: 20px;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
  text-align: left;
  line-height: 28px;
}
.freeBox___597HY {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox___597HY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___597HY > :global(.__wab_flex-container) > *,
.freeBox___597HY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox__klx8E {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__klx8E > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__klx8E > :global(.__wab_flex-container) > *,
.freeBox__klx8E > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__klx8E {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__klx8E > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__klx8E > :global(.__wab_flex-container) > *,
  .freeBox__klx8E > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__aE2Zu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___3Wv1E {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__d4CQ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__nsRvn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tk1W6 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__dhFu {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__tNcO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bvuTk {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__l9Vqw {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__xsDAm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7DGl {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__otkqY {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.freeBox__ec8Gf {
  height: auto;
}
.freeBox__pyl5A {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 960px;
}
.freeBox__pyl5A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__pyl5A > :global(.__wab_flex-container) > *,
.freeBox__pyl5A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 48px;
}
.freeBox___75F {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___75F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___75F > :global(.__wab_flex-container) > *,
.freeBox___75F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75F {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75F > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___75F > :global(.__wab_flex-container) > *,
  .freeBox___75F > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.valueprop__zzba:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pKnh5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__nLuOy {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.freeBox__r2UuW {
  height: auto;
}
.valueprop__rWkrH:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p70V3 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__ov4Z1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__voN45:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sRanX {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg__xjErJ {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop___1QGnl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p0IxE {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.svg___3IsV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.freeBox__xxjKl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__utVRl {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__utVRl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__utVRl > :global(.__wab_flex-container) > *,
.freeBox__utVRl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__x22Zq {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #32d74b /* plasmic-token: IqHL7ueBjCoSQ */;
}
.h2__rtBrf {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
  line-height: 1;
}
.freeBox__eTfvr {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: brCoMDQNt-cz1 */;
  line-height: 28px;
  height: auto;
}
.button___7VmTy:global(.__wab_instance) {
  position: relative;
}
.svg__kmVmM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__zKIjS {
  color: #0a84ff /* plasmic-token: ScjyUI2xbUgAa */;
}
.svg__muCl0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #0a84ff /* plasmic-token: ScjyUI2xbUgAa */;
}
.freeBox__ye7W6 {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__vmIx8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__bFn9 {
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
}
.svg___5Zo09 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: IqHL7ueBjCoSQ */;
}
.listItem__kVw0J:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox___8Tn4Q {
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
}
.svg__l8FwW {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: IqHL7ueBjCoSQ */;
}
.listItem__rMIk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__qhTyg {
  height: auto;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
}
.svg___2Z2Dn {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: IqHL7ueBjCoSQ */;
}
.listItem__t46S:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__dRz3Y {
  height: auto;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
}
.svg__yjjeg {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: IqHL7ueBjCoSQ */;
}
.listItem__sBxyN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__acbmz {
  height: auto;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
}
.svg___5MYxR {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #32d74b /* plasmic-token: IqHL7ueBjCoSQ */;
}
.freeBox__muRTe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__af8YD {
  display: flex;
  flex-direction: column;
}
.freeBox__af8YD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__af8YD > :global(.__wab_flex-container) > *,
.freeBox__af8YD > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox___7BfKp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__gUiyL {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
  line-height: 1;
}
.freeBox__r4Hg3 {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: brCoMDQNt-cz1 */;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__hvoLz {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
}
.freeBox__hvoLz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hvoLz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hvoLz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hvoLz > :global(.__wab_flex-container) > *,
  .freeBox__hvoLz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__rBLa4 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rBLa4 {
    border-radius: 16px;
  }
}
.freeBox__kdASt {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__kdASt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kdASt > :global(.__wab_flex-container) > *,
.freeBox__kdASt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__fm7R0 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__gyA8Y {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gyA8Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gyA8Y > :global(.__wab_flex-container) > *,
.freeBox__gyA8Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__tNtAn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__s4DNt {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  width: auto;
  display: inline-block;
}
.freeBox___14EnO {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  width: auto;
  display: inline-block;
}
.freeBox__rL9HM {
  line-height: 28px;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider__fcaVi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__phJY {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__phJY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__phJY > :global(.__wab_flex-container) > *,
.freeBox__phJY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__hSaow {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__hSaow > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hSaow > :global(.__wab_flex-container) > *,
.freeBox__hSaow > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__mpWxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2Jl3M {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___3CDyr {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__q8Gfx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cdogL {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg___3B2M1 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.svg___3Vem {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__wmsl7 {
  height: auto;
}
.svg__xlak0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__nz90F {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  background: #ffffff;
  border-radius: 16px;
  border: 4px solid #34c759 /* plasmic-token: cFi8iwTtPKVcv */;
}
.freeBox__nAh7V {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__nAh7V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nAh7V > :global(.__wab_flex-container) > *,
.freeBox__nAh7V > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__j0KHb {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__ppBQs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ppBQs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__ppBQs > :global(.__wab_flex-container) > *,
.freeBox__ppBQs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox___2BUch {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__goRLd {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  width: auto;
  display: inline-block;
}
.freeBox__gIrw {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  width: auto;
  display: inline-block;
}
.freeBox__pHjVz {
  line-height: 28px;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider___4NqS0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__vx3VC {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__vx3VC > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vx3VC > :global(.__wab_flex-container) > *,
.freeBox__vx3VC > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__ndDAq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ndDAq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ndDAq > :global(.__wab_flex-container) > *,
.freeBox__ndDAq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop___4QTlU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___8HUX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__aFgP {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__c690P:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__kg22J {
  height: auto;
}
.svg__qrhYe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__ghcdR {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__zIrn3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yxepf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__rg6Ju {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop__vBRru:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___8A7Rh {
  height: auto;
}
.svg__sGAy9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__qkZfH {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.svg__qzoyT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__q6Bz2 {
  height: auto;
}
.svg__ydu13 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__zzFm9 {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  position: relative;
  flex-direction: column;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  overflow: hidden;
  max-width: 400px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zzFm9 {
    border-radius: 16px;
  }
}
.freeBox__dblOu {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px;
}
.freeBox__dblOu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dblOu > :global(.__wab_flex-container) > *,
.freeBox__dblOu > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__oBw4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__xVvrx {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xVvrx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xVvrx > :global(.__wab_flex-container) > *,
.freeBox__xVvrx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.freeBox__woGuk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__seid3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  width: auto;
  display: inline-block;
}
.freeBox__mhTwR {
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  width: auto;
  display: inline-block;
}
.freeBox__pAaBd {
  line-height: 28px;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
}
.divider__edCT:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__jIpOd {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #f2f2f7;
  padding: 32px;
}
.freeBox__jIpOd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jIpOd > :global(.__wab_flex-container) > *,
.freeBox__jIpOd > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.freeBox__s0RVl {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__s0RVl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__s0RVl > :global(.__wab_flex-container) > *,
.freeBox__s0RVl > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.valueprop__lArm6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2RBu9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__a0P1X {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.valueprop___2CdiF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f7Eg7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.svg__mhVi4 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: #ffffff /* plasmic-token: Zzzb-M0bwg2HG */;
}
.svg__cHz8A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox___7Gar {
  height: auto;
}
.svg__x3Ggh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.shopBanners:global(.__wab_instance) {
  position: relative;
}
.banner__zp0Qd:global(.__wab_instance) {
  position: relative;
}
.img__znZoj {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__znZoj > picture > img {
  object-fit: cover;
}
.freeBox___8OMtH {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__gk6Ok {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  line-height: 1;
  height: auto;
}
.svg__gkG6O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__kPVG {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 5eZu0gJssR9bf */;
  white-space: pre;
  display: inline-block;
}
.svg__mGfik {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox___1OiS {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox___1OiS > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___1OiS > :global(.__wab_flex-container) > *,
.freeBox___1OiS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OiS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OiS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OiS > :global(.__wab_flex-container) > *,
  .freeBox___1OiS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.img__lVjGk {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__lVjGk > picture > img {
  object-fit: cover;
}
.freeBox___3U9M {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox___9AUuW {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  line-height: 1;
  height: auto;
}
.svg___6QBcM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__rmw {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 5eZu0gJssR9bf */;
  white-space: pre;
  display: inline-block;
}
.svg__srOa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.banner___6TZkD:global(.__wab_instance) {
  position: relative;
}
.img__hiZ9L {
  position: relative;
  align-self: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img__hiZ9L > picture > img {
  object-fit: cover;
}
.freeBox___9IUrW {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.freeBox__sdY0N {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9 /* plasmic-token: L9oAFKsc864aS */;
  line-height: 1;
  height: auto;
}
.svg__c3Dx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox___4MOuH {
  height: auto;
  width: auto;
  color: #007aff /* plasmic-token: 5eZu0gJssR9bf */;
  white-space: pre;
  display: inline-block;
}
.svg__wlLvZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.logoCloudSection2:global(.__wab_instance) {
  position: relative;
}
.img__vfs5W {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__vfs5W > picture > img {
  object-fit: cover;
}
.img__ww4D5 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__ww4D5 > picture > img {
  object-fit: cover;
}
.img___0QjmL {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___0QjmL > picture > img {
  object-fit: cover;
}
.img__uMyH5 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__uMyH5 > picture > img {
  object-fit: cover;
}
.img__tmLqm {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__tmLqm > picture > img {
  object-fit: cover;
}
.freeBox___1LLq4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.testimonial___8GLqn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__gKcI7 {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__nv5IQ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__b0Rh2 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__b0Rh2 > picture > img {
  object-fit: cover;
}
.testimonial__oNnzk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__pCtGc {
  height: auto;
}
.freeBox__oQWl {
  height: auto;
}
.img__cJ7Gd {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__cJ7Gd > picture > img {
  object-fit: cover;
}
.testimonial__jIzDo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox___2B4Q {
  height: auto;
}
.img__wjpQp {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.callToActionSection1:global(.__wab_instance) {
  position: relative;
}
.img__avbJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img__avbJ > picture > img {
  object-fit: cover;
}
.freeBox__jymfe {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: #007aff;
}
.freeBox___6JQyY {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___6JQyY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___6JQyY > :global(.__wab_flex-container) > *,
.freeBox___6JQyY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.freeBox__t37KI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
}
.freeBox__wvos {
  font-size: 48px;
  font-weight: 800;
  color: #ffffffd9 /* plasmic-token: k7ivdBddnx9wm */;
  line-height: 1;
}
.freeBox__tiHgv {
  font-size: 20px;
  color: #ffffff80 /* plasmic-token: brCoMDQNt-cz1 */;
  line-height: 28px;
}
.freeBox___2NBlq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2NBlq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___2NBlq > :global(.__wab_flex-container) > *,
.freeBox___2NBlq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.button___7WJAi:global(.__wab_instance) {
  position: relative;
}
.svg___5HFnU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.svg__xcmUi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.button__wHfc0:global(.__wab_instance) {
  position: relative;
}
.svg___7D8TR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
.freeBox__yhWnr {
  height: auto;
  font-weight: 400;
}
.svg___6KiO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599 /* plasmic-token: 8J0pUlLgFvoO2 */;
}
