.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #f2f2f7;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 128px 32px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox > :global(.__wab_flex-container) > *,
.freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox > :global(.__wab_flex-container) > *,
  .freeBox > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.testimonial__tUOm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__x7Ijy {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.testimonial__hBqgG:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.img__ehKOv {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
.img__ehKOv > picture > img {
  object-fit: cover;
}
.testimonial__hRi3P:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__hBe3D {
  height: auto;
}
.freeBox__d30D7 {
  height: auto;
}
.img__rofWu {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 64px;
  height: auto;
  border-radius: 32px;
}
.img__rofWu > picture > img {
  object-fit: cover;
}
.testimonial__lCnlz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox__fwKcx {
  height: auto;
}
.img__lbWtW {
  position: relative;
  left: auto;
  top: auto;
  width: 64px;
  height: 64px;
  border-radius: 32px;
}
